$base-font-size: 22px;

@mixin ph {
    @media screen and (max-width: 700px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-size: $base-font-size;
    font-family: Arial;
    line-height: 1.5;
    background: no-repeat/cover url(../img/wind_farm.jpg);
    @include ph {
        color: #fff;
        border-color: brown;
    }
}

@import 'block/*.scss'; // gulp-sass-glob

@media screen and (max-width: 700px) {
    body {
        font-size: 40px;
        background-color: brown;
    }    
}