* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 22px/1.5 Arial;
  background: no-repeat/cover url(../img/wind_farm.jpg);
}

.footer {
  color: yellowgreen;
}

.header {
  color: yellowgreen;
}

.news {
  font-size: 22px;
  color: blueviolet;
}

.news__title {
  color: red;
}

.title {
  text-transform: uppercase;
  color: blue;
}

@supports (-webkit-appearance:none) {
  body {
    background: no-repeat/cover url(../img/wind_farm.webp);
  }
}

@media screen and (max-width: 700px) {
  body {
    color: #fff;
    border-color: brown;
  }

  .footer {
    color: bisque;
    border-color: brown;
  }

  .header {
    color: darkmagenta;
    border-color: brown;
  }

  .news__title {
    color: salmon;
    border-color: brown;
  }

  .title {
    color: goldenrod;
    border-color: brown;
  }

  body {
    font-size: 40px;
    background-color: brown;
  }

@supports (-webkit-appearance:none) {

}
}