
@mixin ph {
    @media screen and (max-width: 700px) {
        @content;
    }
}
@import 
  '../../base/normalize.scss',
  '../../helpers/_config/variables.scss',
  'layout/header',
  'layout/footer'; // gulp-sass-glob




body {
    font-size: $base-font-size;
    font-family: Arial;
    line-height: 1.5;
    background: no-repeat/cover url(../img/wind_farm.jpg);
    @include ph {
        color: #fff;
        border-color: brown;
    }
}


